ts-file-drop-zone {
  display: inline-block;
  background-color: #c8dadf;
  position: relative;
  padding: 20px;

  text-align: center;

  outline: 2px dashed #92b0b3;
  outline-offset: -10px;

  transition: outline-offset .15s ease-in-out, background-color .15s linear;

  &.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
  }

  icon {
    display: block;
    margin: auto;
    font-size: 3em;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label {
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden; /* in case the drop zone is size limited */

    .placeholder { font-weight: bold; }

    &:hover .placeholder { color: #39bfd3; }
    &:focus { outline: 1px dotted #000; }
  }
}
